<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>MonoMicro - monolith</title>
</head>
<body>
    <form>
        <h3 class="headers" id="messagesignup">Zarejestruj się</h3>
        <span class="auth">Nazwa użytkownika</span><input id="usernamesignup" type="text">
        <span class="auth">Hasło</span><input id="passwordsignup" type="password">
        <button id="signup">Zarejestruj</button>
    </form>
    <form>
        <h3 class="headers" id="messagesignin">Zaloguj się</h3>
        <span class="auth">Nazwa użytkownika</span><input id="usernamesignin" type="text">
        <span class="auth">Hasło</span><input id="passwordsignin" type="password">
        <button id="signin">Zaloguj</button>
    </form>
    <script type="module" src="startpage.js"></script>
</body>
</html>